<section class="main ui container">
  <app-play-alarm
    *ngIf="!!(alarmService.invokeAlarmPop$ | async)"
    [label]='(alarmService.invokeAlarmPop$ | async).label'
    [sound]='(alarmService.invokeAlarmPop$ | async).sound'
    [id]='(alarmService.invokeAlarmPop$ | async).id'
    [isSnooze]='(alarmService.invokeAlarmPop$ | async).snooze'
  ></app-play-alarm>
  <ng-container *ngIf="!(alarmService.invokeAlarmPop$ | async)">
    <router-outlet (activate)="routeChange()"></router-outlet>
  </ng-container>
</section>
